src/main/mule/sample1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4ab15c61-1beb-4626-a9d7-4491e307905b" >
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<flow name="sample1Flow" doc:id="c9495bc6-25b4-41be-8457-92327b8d3d60" >
		<http:listener doc:name="Listener" doc:id="148fdcd4-5f68-4c26-a5bc-648906105987" config-ref="HTTP_Listener_config" path="/sample"/>
		<set-payload value="#['Hello']" doc:name="Set Payload" doc:id="edaca306-42a1-4bed-96e1-c907cf15723d" />
		<logger level="INFO" doc:name="Logger" doc:id="19427cbd-bd1e-42e2-9673-75832894f2be" message="#[payload]"/>
	</flow>
</mule>
